<h1>Welcome to my page! </h1> 
I'm {{name}}, Data Analytic, currently living in <b> Madeira, Portugal</b>. </p>
<h3>Things I code with</h3>


<h3>Open source projects</h3>
<table>
  <thead align="center">
    <tr border: none;>
      <td><b>🎁 Projects</b></td>
      <td><b>⭐ Stars</b></td>
      <td><b>📚 Forks</b></td>
      <td><b>🛎 Issues</b></td>
      <td><b>📬 Pull requests</b></td>
    </tr>
  </thead>
  <tbody>
     <tr>
      <td><a href="https://github.com/annatsf/flights-analysis-"><b>Flight Analysis project</b></a></td>
      <td><img alt="Stars" src="https://img.shields.io/github/stars/annatsf/react-simple-pull-to-refresh?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Forks" src="https://img.shields.io/github/forks/annatsf/react-simple-pull-to-refresh?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Issues" src="https://img.shields.io/github/issues/annatsf/react-simple-pull-to-refresh?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/annatsf/react-simple-pull-to-refresh?style=flat-square&labelColor=343b41"/></td>
    </tr>
	  <tr>
      <td><a href="https://github.com/annatsf/NYSE-analysis"><b>NYSE analysis project</b></a></td>
      <td><img alt="Stars" src="https://img.shields.io/github/stars/annatsf/Chrome-Extension-with-React-and-Typescript-Starter-Pack?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Forks" src="https://img.shields.io/github/forks/annatsf/Chrome-Extension-with-React-and-Typescript-Starter-Pack?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Issues" src="https://img.shields.io/github/issues/annatsf/Chrome-Extension-with-React-and-Typescript-Starter-Pack?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/annatsf/Chrome-Extension-with-React-and-Typescript-Starter-Pack?style=flat-square&labelColor=343b41"/></td>
    </tr>
    <tr>
      <td><a href="https://github.com/annatsf/e-comm-platform"><b>E-commerse platform</b></a></td>
      <td><img alt="Stars" src="https://img.shields.io/github/stars/annatsf/nodejs-typescript-express-apollo-graphql-starter?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Forks" src="https://img.shields.io/github/forks/annatsf/nodejs-typescript-express-apollo-graphql-starter?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Issues" src="https://img.shields.io/github/issues/annatsf/nodejs-typescript-express-apollo-graphql-starter?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/annatsf/nodejs-typescript-express-apollo-graphql-starter?style=flat-square&labelColor=343b41"/></td>
    </tr>
    <tr>
      <td><a href="https://github.com/annatsf/forest-query"><b>Forest Query</b></a></td>
      <td><img alt="Stars" src="https://img.shields.io/github/stars/annatsf/nodejs-typescript-express-apollo-graphql-starter?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Forks" src="https://img.shields.io/github/forks/annatsf/nodejs-typescript-express-apollo-graphql-starter?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Issues" src="https://img.shields.io/github/issues/annatsf/nodejs-typescript-express-apollo-graphql-starter?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/annatsf/nodejs-typescript-express-apollo-graphql-starter?style=flat-square&labelColor=343b41"/></td>
    </tr>
  </tbody>
</table>


------------
<p align="center">This <i>README</i> file is generated <b>every 6 hours</b>!</br>Last refresh: {{date}}<br /></p>

